<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Untamed
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131220

-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Dan McKeon</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />

    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= yield %>
    <noscript>
      <div class="statcounter">
        <a title="web analytics" href="http://statcounter.com/" target="_blank">
          <img class="statcounter" src="//c.statcounter.com/11353530/0/a6015af8/1/" alt="web analytics">
        </a>
      </div>
    </noscript>
  </body>
</html>
